<form th:action="@{~/region/save}" method="post">
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="card">
            <div class="card-header text-light"
                 style="background-color:darkslategrey;">
                <h3 class="card-title">Detail region</h3>
            </div>

            <div class="card-body">
                <div class="form-group col-lg-12">
                    <label for="contactName">contactName</label>
                    <input readonly="readonly" class="form-control" type="text" name="contactName" id="contactName" th:value="${data.contactName}">
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <!--
                    <div class="col-sm-8">
                        <button onclick="window.print()" class="btn btn-info float-left">
                            <i class="fas fa-clipboard-check">&nbsp;&nbsp;&nbsp;Print/Save Pdf</i></button>
                    </div>

                    <div class="col-sm-4">
                        <a th:href="@{~/fakultas}" class="btn btn-primary float-right">
                            <i class="fas fa-backward">&nbsp;&nbsp;&nbsp;Kembali</i></a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</form>
