<form th:action="@{~/products/save}" method="post">
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="card">
            <div class="card-header text-light"
                 style="background-color:darkslategrey;">
                <h3 class="card-title">Detail products</h3>
            </div>
            <div class="card-body">
                <div class="form-group col-lg-12">
                    <label for="name">Nama</label>
                    <input readonly="readonly" class="form-control" type="text" name="name" id="name" th:value="${data.name}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="quantityPerUnit">quantityPerUnit</label>
                    <input readonly="readonly" class="form-control" type="number" name="quantityPerUnit" id="quantityPerUnit" th:value="${data.quantityPerUnit}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="unitPrice">unitPrice</label>
                    <input readonly="readonly" class="form-control" type="number" name="unitPrice" id="unitPrice" th:value="${data.unitPrice}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="unitsInStock">unitsInStock</label>
                    <input readonly="readonly" class="form-control" type="number" name="unitsInStock" id="unitsInStock" th:value="${data.unitsInStock}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="unitsOnOrder">unitsOnOrder</label>
                    <input readonly="readonly" class="form-control" type="number" name="unitsOnOrder" id="unitsOnOrder" th:value="${data.unitsOnOrder}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="reorderLevel">reorderLevel</label>
                    <input readonly="readonly" class="form-control" type="number" name="reorderLevel" id="reorderLevel" th:value="${data.reorderLevel}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="discontinued">discontinued</label>
                    <input readonly="readonly" class="form-control" type="number" name="discontinued" id="discontinued" th:value="${data.discontinued}">
                </div>


                <div class="form-group col-lg-12">
                    <label for="category">category</label>
                    <input readonly="readonly" class="form-control" type="text" name="data.category.categoryName"
                           id="category" th:value="${data.category.categoryName}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="supplier">supplier</label>
                    <input readonly="readonly" class="form-control" type="text" name="data.category.companyName"
                           id="supplier" th:value="${data.supplier.companyName}">
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <!--
                    <div class="col-sm-8">
                        <button onclick="window.print()" class="btn btn-info float-left">
                            <i class="fas fa-clipboard-check">&nbsp;&nbsp;&nbsp;Print/Save Pdf</i></button>
                    </div>

                    <div class="col-sm-4">
                        <a th:href="@{~/fakultas}" class="btn btn-primary float-right">
                            <i class="fas fa-backward">&nbsp;&nbsp;&nbsp;Kembali</i></a>
                    </div>
                    -->
                </div>
            </div>
        </div>
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</form>
