<form th:action="@{~/customerdemo/update}" method="post" id="form-input"
      th:object="${data}">
  <div class="card">
    <div class="card-header text-light"
         style="background-color:darkslategrey;">
      <h3 class="card-title">Edit customerdemo</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="id" th:value="*{id}">
      <div class="form-group ">
        <label for="customerId">customer</label>
        <select id="customerId" th:field="*{customerId}"
                th:class="${#fields.hasErrors('customerId')} ? 'form-control is-invalid': 'form-control'">
          <option value="">Select One</option>
          <option th:each="customer: ${customerList}" th:value="${customer.id}"
                  th:text="${customer.contactName}"
                  th:selected="${customer.id == data.customerId}">Select One</option>
        </select>
        <span th:if="${#fields.hasErrors('customerId')}" class="error invalid-feedback"
              th:errors="*{customerId}"></span>
      </div>
      <div class="form-group ">
        <label for="customerDemographicId">customerDemographic</label>
        <select id="customerDemographicId" th:field="*{customerDemographicId}"
                th:class="${#fields.hasErrors('customerDemographicId')} ? 'form-control is-invalid': 'form-control'">
          <option value="">Select One</option>
          <option th:each="customerDemographic: ${customerDemographicList}" th:value="${customerDemographic.id}"
                  th:text="${customerDemographic.customerDesc}"
                  th:selected="${customerDemographic.id == data.customerDemographicId}">Select One</option>
        </select>
        <span th:if="${#fields.hasErrors('customerDemographicId')}" class="error invalid-feedback"
              th:errors="*{customerDemographicId}"></span>
      </div>

    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-sm-8">
          <button type="submit" class="btn btn-success float-left" >
            <i class="fas fa-check-circle"></i>&nbsp;&nbsp;&nbsp;Simpan</button>
        </div>
      </div>
    </div>
  </div>
</form>