<form th:action="@{~/employees/save}" method="post">
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <div class="card">
            <div class="card-header text-light"
                 style="background-color:darkslategrey;">
                <h3 class="card-title">Detail employees</h3>
            </div>

            <div class="card-body">
                <div class="form-group col-lg-12">
                    <label for="firstName">firstName</label>
                    <input readonly="readonly" class="form-control" type="text" name="firstName" id="firstName" th:value="${data.firstName}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="lastName">lastName</label>
                    <input readonly="readonly" class="form-control" type="text" name="lastName" id="lastName" th:value="${data.lastName}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="title">title</label>
                    <input readonly="readonly" class="form-control" type="text" name="title" id="title" th:value="${data.title}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="birthDate">birthDate</label>
                    <input readonly="readonly" class="form-control" type="date" name="birthDate" id="birthDate" th:value="${data.birthDate}" placeholder="dd-MM-yyyy">
                </div>
                <div class="form-group col-lg-12">
                    <label for="hireDate">hireDate</label>
                    <input readonly="readonly" class="form-control" type="date" name="hireDate" id="hireDate" th:value="${data.hireDate}" placeholder="dd-MM-yyyy">
                </div>
                <div class="form-group col-lg-12">
                    <label for="city">city</label>
                    <input readonly="readonly" class="form-control" type="text" name="city" id="city" th:value="${data.city}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="region">region</label>
                    <input readonly="readonly" class="form-control" type="text" name="region" id="region" th:value="${data.region}">
                </div>
                <div class="form-group col-lg-12">
                    <label for="photoPath">photoPath</label>
                    <input readonly="readonly" class="form-control" type="text" name="photoPath" id="photoPath" th:value="${data.photoPath}">
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                </div>
            </div>
        </div>
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
</form>
